.editor-image{
    height: 60vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.container-fluid{
    width: 1100px;
    background: #fff;
    border-radius: 10px;
    padding: 0px 35px 35px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
}